'.text.robot':
  'Hello world':
    'prefix': 'hello'
    'body': '''
      *** Test Cases ***
      Example test
      Log    Hello world
    '''
  'Keywords':
    'prefix': '*k'
    'body': '*** Keywords ***'
  'Settings':
    'prefix': '*s'
    'body': '*** Settings ***'
  'Test Cases':
    'prefix': '*t'
    'body': '*** Test Cases ***'
  'Variables':
    'prefix': '*v'
    'body': '*** Variables ***'
  'Documentation':
    'prefix': ':doc'
    'body': '[Documentation]    ${1:description}'
  'Tags':
    'prefix': ':tags'
    'body': '[Tags]    ${1:tag}'
