'comment': '\n\tRobot Framework syntax highlighting for txt format.\t\n\t'
'fileTypes': [
  'robot'
]
'name': 'Robot Framework'
'firstLineMatch': '\\*{3} (?i:Settings|Keywords|Variables|Test Cases) \\*{3}'
'patterns': [
  {
    'match': '(^\\*\\*\\*.*?\\*\\*\\*)|((?<=^\\|)\\s+\\*\\*\\*.*?\\*\\*\\*)'
    'name': 'string.robot.header'
  }
  {
    'match': '\\[.+\\]'
    'name': 'entity.tag.name.robot'
  }
  {
    'include': '#variables'
  }
  {
    'include': '#comment'
  }
  {
    'begin': '^[^ \t\n\*\|].+'
    'end': '$'
    'name': 'keyword.control.robot'
  }
  {
    'match': '(^\\s+|\\t+)(Given|When|And|Then|But)'
    'name': 'keyword.control.robot'
  }
]
'repository':
  'variables':
    'match': '[\\$@&]{.+}'
    'name': 'variable.language.robot'
  'comment':
    'match': '(?:^[\\s\\t]*)(#.*)$'
    'captures':
      '1':
        'name': 'comment.line.robot'
'scopeName': 'text.robot'
