'comment': '\n\tRobot Framework syntax highlighting for txt format.\t\n\t'
'fileTypes': [
  'robot'
]
'name': 'Robot Framework'
'firstLineMatch': '\\*{3} (?i:Settings|Keywords|Variables|Test Cases) \\*{3}'
'patterns': [
  {
    'match': '(^\\*\\*\\*.*?\\*\\*\\*)|((?<=^\\|)\\s+\\*\\*\\*.*?\\*\\*\\*)'
    'name': 'string.robot.header'
  }
  {
    'match': '\\[.*?\\]'
    'name': 'storage.type.method.robot'
  }
  {
    'include': '#scalar-variable'
  }
  {
    'include': '#list-variable'
  }
  {
    'include': '#dict-variable'
  }
  {
    'begin': '^[\\s\\t]*#'
    'end': '$'
    'name': 'comment.robot'
  }
  {
    'begin': '^[^ \t\n\*\|].+'
    'end': '$'
    'name': 'keyword.control.robot'
  }
  {
    'match': '(^\\s+|\\t+)(Given|When|And|Then|But)'
    'name': 'keyword.control.robot'
  }
]
'repository':
  'scalar-variable':
    'match': '\\${.+}'
    'name': 'variable.language.robot'
  'list-variable':
    'match': '@{.+}'
    'name': 'variable.language.robot'
  'dict-variable':
    'match': '&{.+}'
    'name': 'variable.language.robot'

'scopeName': 'text.robot'
